<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}

    <!-- main haeder -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main_haeder left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="suddu" class="img-fluid" title="DevSuddu">
                        </figure>
                    </div>
                    <!-- main_haeder right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hi, I'm <span class="txt_clr"> Suddu</span>, <br>From Motihari, Welcome To My Profile</p>
                        <h1>I Am A <span class="txt_clr">MERN Stack Developer</span>, Programmer And A Designer</h1>
                        <a href="https://www.linkedin.com/in/sumankumar24/" target="_blank"><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

</body>
</html>
